version: "3.8"
services:
  db:
    image: postgres:14
    restart: always
    environment:
      - POSTGRES_DB=bailey
      - POSTGRES_USER=bailey_user
      - POSTGRES_PASSWORD=bailey_password
    ports:
      - "5432:5432"
    volumes:
      - db:/var/lib/postgresql/data
volumes:
  db:
    driver: local
